@using ZigId.Models
@model ZigId.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<section id="login" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <div class="container">
                    @using (Html.BeginForm(actionName: "LogIn", controllerName: "Account", method: FormMethod.Post, routeValues: null, htmlAttributes: new { @class = "form-signin" }))
                    {
                        @Html.AntiForgeryToken()
                        <h2 class="form-signin-heading">Please sign in</h2>
                        @Html.LabelFor(Model => Model.Username, htmlAttributes: new { @class = "sr-only" })
                        @Html.TextBoxFor(Model => Model.Username, htmlAttributes: new { @class = "form-control", placeholder = "Username", required = "", autofocus = "" })

                        @Html.LabelFor(Model => Model.Password, htmlAttributes: new { @class = "sr-only" })
                        @Html.PasswordFor(Model => Model.Password, htmlAttributes: new { @class = "form-control", placeholder = "Password", required = "" })


                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(Model => Model.RememberMe) Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    }
                </div> <!-- /container -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>